.back { 
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  
  
  .box {
    position: relative;
    height: 95vh;
    width: 70%;
    border: 0.5px solid white;
    border-radius: 20px;
    background-color: rgb(209, 204, 204);
  }