.chatscreen::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .chatscreen::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
    border-radius: 10px; /* Rounded edges */
  }
  
  .chatscreen::-webkit-scrollbar-thumb {
    background: #d9dad9; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded edges */
  }
  
  .chatscreen::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }

  .chatscreen.blurred {
    filter: blur(5px); /* Apply blur effect */
    pointer-events: none; /* Prevent interaction with the chat screen while progress is visible */
  }

  .main-screen {
    position: relative;
    overflow: hidden;
  }
  
  .main-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
      linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
      url("../../assets/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .placeholder-center::placeholder {
    /* Vertical center using flexbox trick */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  textarea {
    position: relative;
  }