*.sqlite3
*.sqlite3:Zone.Identifier
kaix/vectors/
id_rsa
id_rsa.pub
KEY
KEY.pub
CHANGELOG(*.md
LICENSE(*
.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
kaix/Log_management/analytics.txt
kaix/Log_management/ai.txt
kaix/Log_management/mapping.txt
kaix/Log_management/validation.txt
kaix/Log_management/mars.ini
AwaitValue.js.map
CAMBODIA_MIGRATION_PLAN.md
CHANGELOG(158).md
CHANGELOG(185).md
CHANGELOG(202).md
CHANGELOG(329).md
CHANGELOG(375).md
CHANGELOG(83).md
CHANGELOG(88).md
CHANGELOG.md
CLAUDE.md
CODE_REVIEW.md
CopyrightNotice.txt
DATABASE_SCHEMA.md
FUNDING(253).yml
FUNDING.ymlcd
LICENSE(114)
LICENSE(160)
LICENSE(164)
LICENSE(168)
LICENSE(182)
LICENSE(189)
LICENSE(199)
LICENSE(210).txt
LICENSE(244)
LICENSE(248)
LICENSE(292)
LICENSE(313)
LICENSE(327)
LICENSE(331)
LICENSE(357)
LICENSE(371)
LICENSE(377)
LICENSE(382)
LICENSE(387)
LICENSE(392)
LICENSE(397)
LICENSE(402)
LICENSE(407)
LICENSE(412)
LICENSE(417)
LICENSE(422)
LICENSE(427)
LICENSE(432)
LICENSE(437)
LICENSE(442)
LICENSE(447)
LICENSE(452)
LICENSE(457)
LICENSE(462)
LICENSE(467)
LICENSE(472)
LICENSE(477)
LICENSE(482)
LICENSE(487)
LICENSE(492)
LICENSE(496)
LICENSE(501)
LICENSE(506)
LICENSE(511)
LICENSE(85)

license* (*)
* (*).*
