.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
frontend_app/Log_management/analytics.txt
frontend_app/Log_management/ai.txt
frontend_app/Log_management/mapping.txt
frontend_app/Log_management/validation.txt
frontend_app/Log_management/mars.ini
