.embla {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.embla__container {
  display: flex;
  background: rgb(135 197 235 / 41%);
  border-radius: 10px;
}

.embla__slide {
  min-width: 100%;
  text-align: center;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
}

.embla__controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.embla__btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.embla__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Width & Background */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track (Background) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Thumb (Draggable Part) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Hover Effect */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }