.embla {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.embla__container {
  display: flex;
  background: lightgray;
  border-radius: 10px;
}

.embla__slide {
  min-width: 100%;
  text-align: center;
  padding: 15px;  
  height: 100%;
  background: lightgray;
}

.embla__controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.embla__btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.embla__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Width & Background */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track (Background) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Thumb (Draggable Part) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Hover Effect */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* Thin light gray scrollbar */
/* WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  width: 6px;              /* thin scrollbar width */
  height: 6px;             /* thin scrollbar height */
  background: transparent; /* hides track background */
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* hide track */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* light gray thumb */
  border-radius: 3px;
}


.map-container {
  perspective: 1000px;
}

.map-3d {
  transform: rotateX(30deg) rotateY(10deg) scale(1.05);
  transform-origin: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.map-3d:hover {
  transform: rotateX(25deg) rotateY(15deg) scale(1.1);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}


