
@media (max-height: 768px) {
  .custom-top {
    top: 10px;
  }
}

@media (max-height: 600px) {
  .custom-top {
    top: 150px;
  }
}

@media (max-height: 650px) {
  .custom-top {
    top: 50px;
  }
}

.progress-step {
display: none;
flex-direction: column;
align-items: flex-start;
position: relative;
}

.circle.loading {
  border-color: #11e2a9;
}
.circle.failed {
  border-color: #e21111;
}

.circle.completed {
background-color: #11e2a9;
border-color: #11e2a9;
color: white;

}

.progress-step.toshow {
display: flex;
}

.tick {
  position: relative;
  font-weight: 300 !important;
}

.check {
  object-fit: contain;
  filter:invert(0%);
  rotate: 5deg;
  max-height: 30px;
  min-height: 30px;
  min-height: 20px;
  min-width: 20px;
  position: relative;
}

.spinner {
min-height: 15px;
min-width: 15px;
max-height: 20px;
max-height: 20px;
border: 3px solid transparent;
border-top-color: #11e2a9;
border-radius: 50%;
animation: spin 1s linear infinite;
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

/* Text container beside the circle */
.step-text-container {
  display: flex;
  align-items: center;
  /* text-wrap: nowrap; */
  justify-content: center;
  max-width: fit-content; /* Control the width of the text container */
}

/* Default text styling */
.step-text {
  font-size: clamp(0.8rem , 3vw, 2rem);
  letter-spacing: 1px;
  font-weight: 400 !important;
  font-family: "Poppins",sans-serif;
  opacity: 0.5;
  color: black;
  /* transition: all 0.1s ; */
}

/* Active step text */
.step-text.active-text {
  opacity: 1;
  color: black;
  font-weight: bold;
}

/* Completed step text */
.step-text.completed-text {
  opacity: 1;
  color: #11e2a9; /* Green text when completed */
  font-weight: bold;
}

/* Blurred text for upcoming steps */
.step-text.blurred-text {
  opacity: 0.5;
  filter: blur(2px);
  color: black;
}
