/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 5px;
  border-radius: 8px;
  height: 95%;
  width: 95%;
  overflow-y: auto;
  position: relative;
  display: flex;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  z-index: 333;
  border: none;
  font-size: 20px;
  cursor: pointer;
} */



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.pin-tip {
      width: 16px;
      height: 16px;
      transform: translateX(-50%) rotate(45deg);
      bottom: -3.5px;
    }

#map-ui .map-overlay {
  font-size: 12px;
  line-height: 20px;
  font-family: "Inter";
  position: absolute;
  width: 260px;
  top: 10px;
  left: 10px;
  padding: 5px;
  z-index: 10;
}

#map-ui .map-overlay .map-overlay-inner {
  box-shadow: 0px 4px 7px 0px #00000024;
  background-color: #fff;
  border-radius: 3px;
  /* padding: 10px; */
  margin-bottom: 10px;
}

#map-ui .map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
}

#map-ui .map-overlay-inner fieldset:last-child {
  margin: 0;
}

#map-ui .map-overlay-inner select {
  width: 100%;
}

#map-ui .map-overlay-inner p {
  margin: 0;
}



#map-ui .map-overlay-inner button {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  border: none;
  cursor: pointer;
}

#map-ui .map-overlay-inner button:focus {
  outline: none;
}


#map-ui .offset>label,
#map-ui .offset>input {
  display: inline;
}

#map-ui #animateLabel {
  display: inline-block;
  min-width: 20px;
}

#map-ui .accordion {
  width: auto;
  font-family: 'Inter';
}

#map-ui .accordion-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#map-ui .accordion-content {
  display: none;
  /* padding: 10px; */
  /* background-color: #fff; */
}

#map-ui .accordion-content ul {
  list-style-type: none;
  padding: 0;
}

#map-ui .accordion-content li {
  margin: 5px 0;
}

#map-ui .accordion-sub-item {
  padding: 5px 0px;
  border-top: 2px solid whitesmoke;
  margin: 0px 0;
}

#map-ui .accordion-sub-item .accordion-header {
  padding: 5px 10px;
  /* background-color: #f9f9f9; */
  border-bottom: none;
}

#map-ui .accordion-sub-item .accordion-content {
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  /* padding: 10px; */
}

#map-ui .select-options {
  margin: 0px 0px 10px 0px;
}

#map-ui .icon {
  margin-left: auto;
}

#map-ui .hide {
  display: none !important;
}

#map-ui .show {
  display: block;
}

#map-ui .main-header-font {
  font-size: 19px;
  font-weight: bold;
}

#map-ui .child-header-font {
  font-size: 16px;
  font-weight: bold;
}

#map-ui .font-10 {
  font-size: 10px;
}

#map-ui .legend {
  display: flex;
  align-items: center;
}

#map-ui .legend-item {
  display: flex;
  flex-direction: column;
  /* Stack the color box and text vertically */
  align-items: center;
  margin-right: 5px;
}

#map-ui .color-box {
  width: 41px;
  height: 10px;
  margin-bottom: 3px;
  /* Add space between the color box and the label */
  border: 1px solid #999;
}

#map-ui .stop_go_text {
  position: absolute;
  margin-top: 15px;
}

#map-ui .trafic-clear {
  background-color: #8ae46b;
}

#map-ui .trafic-moving {
  background-color: #f6d848;
}

#map-ui .color-slow {
  background-color: #f58656;
}

#map-ui .color-stopGo {
  background-color: #c7123e;
}

#map-ui .color-closed {
  background-color: #000000;
}

#map-ui input[type="checkbox"]:hover {
  accent-color: #008a11;
  /* Orange when hovered */
}

#map-ui input[type="checkbox"] {
  width: 24px !important;
  height: 24px !important;
  accent-color: #008a11 !important;
  border-radius: 4px !important;
}

#map-ui input.search {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent var(--search-icon-url) no-repeat 13px;
}

#map-ui .search-box {
  display: flex;
  align-items: center;
  border: 1px solid #808080;
  border-radius: 50px;
  overflow: hidden;
  width: 237px;
  background-color: white;
  height: 40px;
}

#map-ui .search-box input[type="text"] {
  border: none;
  margin: 10px 20px;
  width: 100%;
  font-size: 14px;
  outline: none;
  font-weight: 500;
}

#map-ui .search-box button {
  background-color: #008a11;
  border: none;
  padding: 12px 7px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 40px;
  border-radius: 32px;
}

#map-ui .search-box i {
  font-size: 26px;
  color: white;
}

#map-ui .search-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

#map-ui .border {
  border: 1px solid black;
}

#map-ui .searchtext {
  font-size: 14px;
  padding-bottom: 5px;
  color: #383838;
}

#map-ui .cusor-pointer:hover {
  cursor: pointer;
}

#map-ui .li-container {
  font-size: 14px;
  align-items: center;
  display: flex;
}

#map-ui .li-container img {
  width: 21.21px;
  height: 21.21px;
  margin-left: 5px;
}

#map-ui .ml-4 {
  margin-left: 4px;
}

#map-ui .ml-5 {
  margin-left: 5px;
}

#map-ui .ml-10 {
  margin-left: 10px;
}

#map-ui .mr-10 {
  margin-right: 10px;
}

#map-ui .save-btn-container {
  font-size: 12px;
  line-height: 20px;
  font-family: "Inter";
  position: absolute;
  width: auto;
  top: 60px;
  left: 10px;
  padding: 10px;
  z-index: 1;
}

#map-ui .save-btn {
  box-sizing: revert !important;
  box-shadow: 0px 4px 7px 0px #00000024;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  background-color: white;
  border-radius: 18px;
  padding: 7px 10px;
  /* border: 1px solid #008a11; */
  color: #008a11;
  justify-content: center;
  width: 110px;
}

#map-ui .map-container {
  position: relative;
  height: 700px;
  width: 100%;
}

#map-ui .map-container-full-height {
  position: relative !important;
  height: 100% !important;
  width: 100% !important;
}

#map-ui .static-map-container {
  background-color: #E1F2FF;
  position: relative;
  height: 97vh;
  width: 100%;
}

#map-ui .static-map-container.maplibregl-map {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

#map-ui .postion-relative {
  position: relative;
}

#map-ui .mr-10 {
  margin-right: 10px;
}

#map-ui .mr-5 {
  margin-right: 5px;
}

/* Tab Container */
#map-ui .tabs {
  display: flex;
  border-bottom: 2px solid green;
  margin-bottom: 10px;
}

/* Desktop View Styles */
@media only screen and (min-width: 601px) {
  /* Tab Buttons */
}

#map-ui .tab-button {
  font-family: 'Inter';
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #e0f3d3;
  color: #115F01;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
  margin-right: 10px;
  font-weight: 600;
}

/* Active Tab Button */
#map-ui .tab-button.active {
  background-color: green;
  color: white;
  font-weight: 700;
}

/* Tab Content */
#map-ui .tab-content {
  font-family: 'Inter';
  display: none;
  /* Initially hide all tab contents */
  /* padding: 20px; */
  /* background-color: #f9f9f9; */
}

/* Show active tab content */
#map-ui .tab-content.active {
  display: block;
}

/* Last Updated Section */
#map-ui .last-updated {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
  color: #444;
}

#map-ui .mapstyle-btn-container {
  font: 12px / 20px "Inter, Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: auto;
  top: 10px;
  right: 0px;
  padding: 5px;
  z-index: 1;
}

#map-ui .location-btn-container {
  font-size: 12px;
  line-height: 20px;
  font-family: 'Inter';
  position: absolute;
  width: auto;
  bottom: 1%;
  right: 0px;
  padding: 5px;
  z-index: 1;
}

#map-ui .flex-d-column {
  flex-direction: column;
}

#map-ui .zoom-btn {
  justify-content: space-around;
  height: 73px;
  width: 18px;
}

#map-ui .right-bottom-buttons {
  display: flex;
  justify-content: end;
}

#map-ui .map-loader1 {
  display: block;
  /* Hidden by default */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid lightgray;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1000;
  /* Make sure it stays on top */
}

#map-ui .map-loader {
  display: none;
  /* Hidden by default */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid lightgray;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1000;
  /* Make sure it stays on top */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#map-ui .mapboxgl-popup-content {
  /* max-width: 400px;
            font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif; */
  font-family: 'Inter', Arial, sans-serif;
  padding: 20px;
  width: 300px;
  border-radius: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: relative;
}

#map-ui .popup-content {
  font-family: 'Inter', Arial, sans-serif;
  padding: 20px;
  width: 300px;
  border-radius: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: relative;
}

#map-ui .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ddd; */
  margin-bottom: 10px;
}

#map-ui .popup-header-left {
  font-family: 'Inter';
  border-radius: 13px;
  padding: 2px 10px;
  background-color: #e8f4fc;
  align-items: center;
  display: flex;
  height: 25px;
}

#map-ui .popup-icon {
  color: #f39c12;
  font-size: 1.2em;
  display: flex;
}

#map-ui .transit-popup-icon {
  color: #f39c12;
  font-size: 1.2em;
  display: flex;
}

#map-ui .popup-title {
  color: #383838;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12.5px;
  margin-left: 5px;
}

#map-ui .popup-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 19px;
  /* color: gray; */
}

#map-ui .popup-body {
  font-family: 'Inter';
  margin-bottom: 10px;
  width: 285px;
  font-size: 14px;
  word-wrap: break-word;
  /* Ensures long words break */
}

#map-ui .popup-footer {
  font-family: 'Inter';
  font-size: 13px;
}

#map-ui .popup-close-window {
  font-family: 'Inter';
  /* margin-top: 10px; */
  padding: 7px 10px;
  background-color: white;
  color: #008a11;
  border: 1px solid #008a11;
  border-radius: 15px;
  cursor: pointer;
}



#map-ui .alerts-header h1 {
  font-size: 24px;
  margin-right: 10px;
  color: #383838;
}

#map-ui .alerts-header p {
  color: #383838;
  font-weight: 400;
  font-size: 18px;
}

#map-ui .refresh-btn {
  background-color: #FFD600 !important;
  text-align: center;
  width: 100%;
  /* align-items: center;
    display: flex; */
  background-color: #f1f1f1;
  color: #383838;
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  font-size: 12.5px;
  cursor: pointer;
  font-weight: 500;
}

#map-ui .alerts-filter {
  font-family: 'Inter';
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

#map-ui .sort-btn {
  background-color: white;
  border: 0px;
  padding: 5px 6px;
  cursor: pointer;
}

#map-ui .sort-btn.active {

  color: #008A11;
}

#map-ui .expand-all-btn {
  background-color: white;
  border: 0px;
  padding: 8px 12px;
  cursor: pointer;
}

#map-ui .alert-card {
  background-color: white;
  /* border: 1px solid gray; */
  border-top: 1px solid #C9C9C9;
  /* border-radius: 5px; */
  /* margin-bottom: 10px; */
}

#map-ui .alert-header {
  padding: 25px 20px 25px 0px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: start;
  color: #383838;
}

#map-ui .alert-header h3 {
  margin: 0;
  font-size: 19px;
}

#map-ui .alert-header p {
  margin: 10px 0 0;
  font-size: 12.5px;
  color: #555;
  font-weight: 400;
}

#map-ui .alert-header img {
  width: 13.6px;
  height: 12px;
}

#map-ui .alert-content {
  padding: 0px 15px 15px 0px;
  display: none;
  color: #383838;
  font-size: 16px;
  font-weight: 400;
}

#map-ui .toggle-btn {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  color: #333;
}

#map-ui .display-inline {
  display: inline;
}

#map-ui .header-r1-container {
  display: flex;
  height: 25px;
  align-items: center;
}

#map-ui .color-black {
  color: #383838;
}

#map-ui .fa-rotate-right {
  font-size: 12px;
}



#map-ui .traffic-tab-content-header {
  font-size: 14px;
  border-radius: 13px;
  padding: 5px 10px;
  background-color: #E8F4FC;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}



#map-ui .btn-viewonmap:hover {
  cursor: pointer;
}

#map-ui .btn-viewonmap {
  height: 38px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #008A11;
  padding: 11px 16px;
  display: inline-flex;
  align-items: center;
  color: #008A11;
  border-radius: 20px;
  font-size: 12.5px;
  font-weight: 700;
  font-family: 'Inter';
}

#map-ui .btn-viewonmap i {
  margin-left: 7px;
  font-size: 18px;
  transform: rotate(45deg);
}

#map-ui .diplay-flex {
  display: flex;
}

#map-ui .font-14 {
  font-size: 14px;
}

#map-ui .font-17 {
  font-size: 17px;
}

#map-ui .font-size-48 {
  font-size: 48px;
}

#map-ui .f-12 {
  font-size: 12px;
}

#map-ui .f-20 {
  font-size: 20px;
}

#map-ui .maplibregl-popup {
  max-width: fit-content !important;
}

#map-ui .maplibregl-popup-content {
  max-width: fit-content !important;
}

#map-ui .save-map-confirmation {
  font: 12px / 20px "Inter, Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 232px;
  top: 2px;
  left: 2px;
  padding: 5px;
  z-index: 1;
}

#map-ui .save-map-confirmation-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

#map-ui .save-map-confirmation-inner .close-sign {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}

#map-ui .close-sign i {
  cursor: pointer;
}

#map-ui .save-map-confirmation-inner .savebtn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  background-color: white;
  border-radius: 18px;
  padding: 7px 10px;
  border: 1px solid #167d01;
  color: white;
  justify-content: center;
  width: 78px;
  height: 38px;
  background-color: #167d01;
  font-size: 12px;
}

#map-ui .save-map-confirmation-inner .cancelBtn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  background-color: white;
  border-radius: 18px;
  padding: 7px 10px;
  border: 1px solid #167d01;
  color: #167d01;
  justify-content: center;
  width: 91px;
  height: 38px;
  background-color: #ebf7e8;
  font-size: 12px;
}

#map-ui .ptb-10 {
  padding: 10px 0px 10px;
}

#map-ui .share-map-container {
  font: 12px / 20px "Inter, Helvetica Neue", Arial, Helvetica, sans-serif;
  position: fixed;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 10;
  background-color: white;
  width: 310px;
  box-shadow: 0px 4px 7px 0px #00000024;
}

#map-ui .share-map-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 10px 0px; */
}

#map-ui .share-map-inner {
  background-color: #fff;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  border-radius: 3px;
  /* padding: 0px 10px 2px; */
  /* margin-bottom: 10px; */
  font-size: 12px;
}

#map-ui .share-map-inner input[type="text"] {
  margin-bottom: 0px !important;
  display: inline-block !important;
  height: 15px;
  border: 1px solid #c9c9c9;
  width: 220px;
  padding: 5px;
  box-sizing: content-box !important;
  border-radius: 0px !important;
}

#map-ui .share-map-inner input[type="text"]:focus {
  height: 15px;
  border: 1px solid gray;
  width: 220px;
  padding: 5px;
  outline: none;
}

#map-ui .share-map-inner img {
  margin-left: 5px;
  margin-right: 5px;
}

#map-ui .copy-btn {
  padding: 5px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  vertical-align: middle;
}

#map-ui .copy-btn:hover {
  cursor: pointer;
}

#map-ui .copy-btn span {
  margin-right: 5px;
}



#map-ui .vcenter-flex {
  display: flex;
  align-items: center;
}

#map-ui .color-green {
  color: #008a11;
}

#map-ui .font-b {
  font-weight: 700;
}

/* Hide default checkbox */
#map-ui .custom-checkbox input {
  display: none !important;
}

#map-ui .custom-checkbox {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0px !important;
}


#map-ui .custom-checkbox .checkmark {
  border: 1.5px solid #c9c9c9;
  position: relative;
  top: 0;
  left: 0px;
  height: 24px;
  width: 24px;
  /* background-color: #008a11; */
  border-radius: 3px;
}

#map-ui .custom-checkbox input:checked+.checkmark {
  background-color: #008a11;
  /* Change background color when checked */
  border: 1.5px solid #008a11;
}

#map-ui .custom-checkbox input:checked+.checkmark:before {
  background-color: #008a11;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  background-image: var(--check-icon-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#map-ui .show-desktop-only {
  display: none;
}

@media only screen and (min-width: 601px) {
  #map-ui .show-desktop-only {
    display: inline-block;
  }

  #map-ui .main-traffic-content-container {
    display: flex;
    height: 100%;
    /* Fills the entire height of the page */
  }

  #map-ui #alert-tab-controller-container {
    width: 25%;
  }

  #map-ui #alert-tab-alert-container {
    width: 75%;
  }
}

#map-ui .show-mobile-only-l {
  display: none;
}

#map-ui .show-mobile-only-s {
  display: none;
}

#map-ui .show-mobile-only {
  display: none;
}

/* Start: Added following css to override default maplibre fullscreen button css */
#map-ui .fullscreen-container {
  font-size: 12px;
  padding: 10px 10px;
  width: 125px;
}

#map-ui .hide-border {
  border: none !important;
}

#map-ui .maplibregl-ctrl {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
  margin-right: 5px !important;
}

#map-ui .maplibregl-ctrl-bottom-right {
  bottom: 5px;
  right: 0;
}

#map-ui .maplibregl-ctrl button:not(:disabled):hover {
  background-color: white;
}

/* End: Added following css to override default maplibre fullscreen button css */
#map-ui .top-20p {
  top: 20% !important;
}

#map-ui .body {
  font-family: 'Inter';
}

#map-ui .fw-400 {
  font-weight: 400;
}

#map-ui .fw-500 {
  font-weight: 500;
}

#map-ui .fw-600 {
  font-weight: 600;
}

#map-ui .fw-700 {
  font-weight: 700;
}

#map-ui .font-18 {
  font-size: 18px;
}

#map-ui .font-19 {
  font-size: 19px;
}

#map-ui .font-12 {
  font-size: 12.5px;
}

#map-ui .font-23 {
  font-size: 23px !important;
}

#map-ui .last-update-date-color {
  color: #383838;
}

#map-ui .expand-icon {
  position: relative;
  top: 1px;
}

#map-ui #alert-tab-controller-container .search-box {
  width: 288px;
  margin-top: 5px;
}

#map-ui #alert-tab-controller-container li {
  margin: 15px 0;
}




#map-ui .alert-controls {
  margin-top: 20px;
  width: 270px;
  background-color: #F5F5F5;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#map-ui .mt-0 {
  margin-top: 0px;
}

#map-ui .mt-5 {
  margin-top: 5px;
}

#map-ui .mt-10 {
  margin-top: 10px;
}

#map-ui .mt-15 {
  margin-top: 15px !important;
}

#map-ui .mt-20 {
  margin-top: 20px;
}

#map-ui .mt-40 {
  margin-top: 40px;
}

#map-ui .text-center {
  text-align: center;
}

#map-ui .paging-button {
  border-radius: 6px;
  background-color: white;
  color: green;
  border: none;
  /* box-shadow: 0px 1px 4px 0px #C9C9C9; */
  width: 28px;
  height: 28px;
}

#map-ui .paging-button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 9px -2px #C9C9C9;
}

#map-ui #currentPage input[type='text'] {
  border-radius: 5px;
  text-align: center;
  border: 1px solid #C9C9C9;
  padding: 5px;
  width: 39px;
  height: 19px;
}

#map-ui #transit-alert-tab-currentPage input[type='text'] {
  border-radius: 5px;
  text-align: center;
  border: 1px solid #C9C9C9;
  padding: 5px;
  width: 39px;
  height: 19px;
}

#map-ui .circle-container {
  width: 80px;
  /* Adjust the size as needed */
  height: 80px;
  border: 5px solid green;
  /* Green circular border */
  border-radius: 50%;
  /* Makes it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Ensures image stays inside the circle */
  border: 1px solid green;
  /* Add a dashed purple border */
}

#map-ui .circle-container img {
  width: 100%;
  /* Ensures the image fills the container */
  height: auto;
  /* Maintains aspect ratio */
}

#map-ui .w-12-p {
  width: 12%;
}

#map-ui .w-12 {
  width: 12px;
}

#map-ui .w-10p {
  width: 10%;
}

#map-ui .w-90p {
  width: 90%;
}

#map-ui .w-100p {
  width: 100%;
}

#map-ui .traffic-alert-content,
#map-ui .transit-alert-content {
  padding-left: 9.7%;
}

#map-ui .mb-5 {
  margin-bottom: 5px;
}

#map-ui .mb-15 {
  margin-bottom: 15px !important;
}

#map-ui .mb-20 {
  margin-bottom: 20px;
}

#map-ui .traffic-alert-card-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 20px;
}

#map-ui .traffic-alert-card-description {
  font-size: 23px !important;
  font-weight: 700;
  display: inline;
}

#map-ui .transit-alert-card-inner-container {
  width: 100%;
}

#map-ui .transit-alert-card-inner-container> :nth-child(1) {
  width: 10%;
}

#map-ui .transit-alert-card-inner-container> :nth-child(2) {
  width: 90%;
}

#map-ui .transit-alert-close-filter {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #F0FCED;
  text-align: center;
  font-size: 14px;
  color: green;
  font-weight: 700;
  margin-left: -20px;
  text-align: center;
}

#map-ui .popup-body a {
  text-decoration: none;
  border-bottom: 2px solid green;
  font-size: 14px;
  font-weight: 600 !important;
  color: #333333;
}

#map-ui .popup-body span {
  color: #333333;
  display: block;
  margin: 10px 0px;
}

#map-ui .popup-body a :hover {
  cursor: pointer;
}

#map-ui .font-8 {
  font-size: 8px;
}

#map-ui .search-container {
  position: relative;
  width: 237px;
}

#map-ui .input-constainer {
  border: 1px solid #808080;
  border-radius: 20px;
  display: flex;
  font-family: 'Inter';
}

#map-ui .input-constainer input[type="text"] {
  font-family: 'Inter';
}

#map-ui .search-container input[type="text"] {
  width: 100%;
  margin: 10px 10px 10px 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #757575;
}

#map-ui .search-button {
  background-color: #008a11 !important;
  border: none !important;
  padding: 12px 7px !important;
  cursor: pointer !important;
  align-items: center;
  justify-content: center !important;
  width: 53px;
  height: 40px !important;
  border-radius: 32px !important;
}

#map-ui .suggestions-box {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

#map-ui .suggestions-box div {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
}

#map-ui .suggestions-box div:hover,
#map-ui .suggestion-item:focus {
  background-color: #f0f0f0;
}

#map-ui .selected-search-option {
  background-color: #f0f0f0;
}

#map-ui .main-traffic-content-containe>.search-container {
  width: 290px !important;
}

#map-ui .w-288 {
  width: 288px;
}

#map-ui .font-inter {
  font-family: 'Inter';
}

#map-ui .ov-popup-header-left {
  padding-left: 0px !important;
  background-color: white !important;
}

#map-ui .w-57 {
  width: 57px !important;
}

#map-ui .f-32 {
  font-size: 32px;
  line-height: 1.2;
}

#map-ui .f-16 {
  font-size: 16px;
}

#map-ui .popup-transit-link {
  text-decoration: none;
  border-bottom: 2px solid green;
  font-size: 14px;
  font-weight: 600 !important;
  color: #333333;
}

#map-ui .accordion-header img {
  position: relative;
  width: 25px !important;
  height: 20px !important;

}

#map-ui .save-btn-container img {
  width: 15px !important;
}

#map-ui .save-btn img {
  width: 15px !important;
}

#map-ui .btn-viewonmap img {
  width: 15px !important;
}

#map-ui #currentPage {
  display: inline-block !important;
}

#map-ui #inputCurrentPage {
  box-sizing: content-box !important;
}

#map-ui #transit-alert-tab-currentPage {
  display: inline-block !important;
}

#map-ui #transit-inputCurrentPage {
  box-sizing: content-box !important;
}

#map-ui #search-input {
  padding: 0px !important;
  line-height: 1px !important;
}

#map-ui #traffic-alert-search-input {
  padding: 0px !important;
  line-height: 1px !important;
}

#map-ui #transit-alert-search-input {
  padding: 0px !important;
  line-height: 1px !important;
}

#map-ui #transit-search-input {
  padding: 0px !important;
  line-height: 1px !important;
}

#map-ui #carpool-search-input {
  padding: 0px !important;
  line-height: 1px !important;
}

#map-ui #bicycle-search-input {
  padding: 0px !important;
  line-height: 1px !important;
}

#map-ui .accordion-content ul {
  margin-left: 0px !important;
}

#map-ui .alert-controls ul {
  margin-left: 0px !important;
}

#map-ui .li-container .custom-checkbox {
  margin-bottom: 0px;
}

#map-ui .zoom-btn img:nth-child(1) {
  width: 10px !important;
}

#map-ui .zoom-btn img:nth-child(2) {
  width: 15px !important;
}

#map-ui .zoom-btn img:nth-child(3) {
  width: 10px !important;
}

#map-ui .popup-icon img {
  width: 20px !important;
}

#map-ui .traffic-alert-filter-label .icon img {
  width: 20px !important;
}

#map-ui .transit-alert-filter-label .icon img {
  width: 20px !important;
}

#mapoptions-traffic-search-icon {
  display: inline !important;
  width: 15px !important;
  height: 15px !important;
}

#mapoptions-transit-search-icon {
  display: inline !important;
  width: 15px !important;
  height: 15px !important;
}

#mapoptions-carpool-search-icon {
  display: inline !important;
  width: 15px !important;
  height: 15px !important;
}

#mapoptions-bicycle-search-icon {
  display: inline !important;
  width: 15px !important;
  height: 15px !important;
}

.height-100p {
  height: 100% !important;
}

.share-map-container#popup-invalid-url {
  position: absolute;
}

.top-14-p {
  top: 14% !important;
}

.r-15 {
  right: 15px !important;
}

.vendor-popup-container {
  width: 95%;
  margin-top: 62px;
}

.top-25 {
  top: 25px !important;
}

.r-45 {
  right: 45px !important;
}

.r-50 {
  right: 50px !important;
}

.top-50 {
  top: 50px !important;
}

.bottom-12 {
  bottom: 12% !important;
}

.map-component-zoom-control {
  right: 40px !important;
  bottom: 17% !important;
}
.property-marker-opacity{
  opacity: 0.5 !important;
}
.property-marker-margin{
  margin-top: -5px !important;
}
.mapboxgl-popup{
  z-index: 10 !important;
}
